3 fonts - Roboto,
Noto Sans,
and Playwrite new zealand font background color margin with Sergey padding color font size </font weight>heading color table.textad,
table.header,
table\.bannner {
    margin-top: 10px;
    visibility: hidden
}

table.main {
    width: 100%;
    border: none;
}

.leftmoduletitlebar,
.leftmoduleborder,
.leftmoduleinterior,
table.left,
table.left TH,
table.left TD,
table.navigation,
table.footer,
HR {
    display: none;
}

.smalltext {
    font-size: 11px;
}

.mainleft {
    width: 250px;
}

..leftmoduletitlebar,
.leftmoduleborder,
.leftmoduleinterior,
table.left,
table.left TH,
table.left TD {
    width: 250px;
}

.mainleft {
    display: none;
}

width: 326px !important;
}

table.footer,
table.footernav {
    display: none;
}

;

body {
    letter-spacing: 1px;
    font: normal 11px arial;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-arrow-color: #032F6E;
    scrollbar-face-color: #4377C0;
    scrollbar-track-color: #FFFFFF;
}

body {
    cursor: help;
}

a:hover {
    color: #000000;
    font: 11px Noto;
    letter-spacing: 1.16px;
    line-height: 11px;
    text-decoration: underline;
    cursor: crosshair;
}

.left,
.blogbody,
table.footer,
.standard,
.leftmodulefontcolor,
td,
p {
    font: normal 11px arial;
    line-height: 11px;
    letter-spacing: 1px;
    text-color: #FFFFFF;
    letter-spacing: 0px;
    text-align: justify;
}

<p><ol><li><a href="www.slack.com/justina-lin-mars">Slack</a></li><li><a href="www.discord.com/juicetina92">Discord </a></li><li><a href="www.tiktok.com/happyharp92">Tiktok </a></li></ol><footer><p>© 2026 Justina</p></footer><style>ol {
    list-style: none;
    padding: 5;
}

li {
    display: inline;
    margin-right: 10px;
}

a {
    text-decoration: none;
    background-color: #000;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 20px;
}

</style>